<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-5">
			<h1><strong>FeedMeWhatever</strong></h1></p>

		</div>
		<div class="col-md-6">
			<p>Ever saw a picture of an exotic food in a TV commercial? Wondered what that is ? Well just take a picture of it and upload it to our account! We use adbvanced Image recognition technology, thanks to Clarifai to recognize that food and tell you where you can find it</p>

<%= image_tag("foodporn.jpg")%>
		</div>
	
				</div>


</div>
