<% max = 0 %>
<% word = "" %>
<% @something.tag_images.each do |c| %>
  <% c.instance_values["tags"].each do |f| %>
    <% if f.prob > max%>
      <% max = f.prob %>
      <% word = f.word%>
    <% else %>
      <% next %>
    <% end %>
  <% end %>
<% end %>  
<h1>HERE IS THE BEST WORD</h1>
<h2> <%= word %> with a probability of <%= max%> </h2>

<h2>Yelp Shit</h2>
<% params = { term: '#{@word}',
           limit: 3
         }

locale = { lang: 'en' } %>
<% Yelp.client.search('New York').instance_values["businesses"].each do |f| %>
<h4><%=  f.name %></h4>
<% end %>
